@charset "UTF-8";

/*変数*/
:root {
    --main: #f26a74;
    --sub: #ffa5a5;
    --dark: #e13845;

    --text: #444444; /*テキスト*/
    --textwhite: #ffffff; /*テキスト白*/
    --back: #ffffff; /*背景白*/
    --backtrans: rgba(255, 255, 255, 0.6); /*半透明な背景*/
    --backcheck: #FFF7D2; /*市松模様の背景*/
    --main2sub: var(--main);
    --main2dark: var(--main);
    --change: 0.5s ease-in-out;
}

:root.darkmode {
    --text: #ebebeb;
    --textwhite: #ebebeb;
    --back: #231802;
    --backtrans: rgba(35, 24, 2, 0.7);
    --backcheck: #372a0a;
    --main2sub: var(--sub);
    --main2dark: var(--dark);

}

/*ダークモード用のCSSをメディアクェリで適用する場合（ダークモード切替ボタンがない場合）:root.darkmodeの代わりのコード*/

/* @media (prefers-color-scheme: dark) {
    :root {
    --text: #ebebeb;
    --textwhite: #ebebeb;
    --back: #231802;
    --backtrans: rgba(35, 24, 2, 0.7);
    --backcheck: #372a0a;
    --main2sub: var(--sub);
    --main2dark: var(--dark);
    }
} */

/*基本設定*/

body {
    font-family: sans-serif; /*閲覧環境によってWindowsではメイリオが、IOSではヒラギノ角ゴが使用される*/
    text-align: center;
    background-color: var(--back);
    color: var(--text);
    transition: var(--change);
}

/*リセット（ノーマライズ/サニタイズ）設定*/
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
    list-style: none;/*リストマークを非表示*/
}

img, svg {
    max-width: 100%; /*画像がオリジナルサイズより大きくなるのを防ぐ*/
    height: auto;
    vertical-align: bottom; /*画像の下に小さい余白が入るのを防ぐ*/
}

a {
    color: inherit;/*文字を親要素と同じ色で表示*/
    text-decoration: none;/*リンクに下線を付けない*/
}

a:hover {
    opacity: 0.8;/*カーソルを重ねると少し半透明になる*/
}

/**/
.header {
    position: relative;
}

.header::after {
    /*JPEGなどのラスタ形式の画像はcontentで表示するとサイズ調整ができなくなるので、値を空にしている（空でも記載しないと画像が表示されない）*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-image: url(img/candy.jpg);
    background-position: center;
    background-size: cover;

    z-index: -1;
    transition: var(--change);
}

/*ダークモードで彩度と明度を下げる*/
.darkmode .header::after {
    filter: saturate(0.8) brightness(0.8);
}

/*オンオフスイッチ（自動生成したCSSコードを貼り付け）*/
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #F26A74; border-radius: 36px;
    background-color: #F26A74;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 2px solid #F26A74; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #E13845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #E13845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

/*スイッチ・追加設定*/
.switch {
    display: inline-block;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    background: rgb(255,255,255,0.8);
}

/*モバイルデバイスでタップした時に出るハイライトを無効化*/
.onoffswitch-label {
    -webkit-tap-highlight-color: transparent;
}

/*飾り線*/
.header {
    padding: 25px 25px 0; 
}

.site {
    border: 1px #111111 solid;
    border-image: url(img/border.svg) 68 / 40px / 20px;
    /*縦横204pxの画像を均等に3で割ると68（9分割にする為）*/
    /*モーバイルの画像サイズは縦横40px*/
    /*Outset掛け線からはみ出すサイズは20px*/
}

@media (min-width: 768px) {
    .header {
        padding: 44px 44px 0;
    }

    .site {
        border-image-width: 68px;
        border-image-outset: 34px;
        /*PC版で変化する箇所のみでOK*/
    }
}


.site h1 {
    margin: 72px 0px 153px;
    
}

.site p {
    color: var(--textwhite);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 107px;
}

.onofftext {
    width: 137px;
    line-height: 51px;
    text-align: center;
    border: 1px var(--sub) solid;
    color: var(--main2sub);
    background-color: var(--backtrans);
    font-family: Georgia, serif;
    font-size: 21px;
    box-sizing: border-box;
    transition: var(--change);
}

.onofftext::before {
    content: 'Light ';
}

.darkmode .onofftext::before {
    content: 'Dark ';
}